{% extends 'lecture/base.html' %}
{% block title %}Add a New Course{% endblock %}
{% block assets_active %}active{% endblock %}


{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7 " >
            <div class="panel panel-default">
                <div class="panel-body"  style="background-color: #5F9E;">
                    <h3>Add a New Course</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'lecture/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body"  style="background-color: #5F9E;">
                    <h3>What is Open ClassRoom?</h3>
                    <p>Open ClassRoom is an app that allows you to upload and store  materials on the cloud.</p>
                    <p>First, create a new course by filling out the form on this page. </p>
                   
                    <ul>
                       
                        <li>Use common image formats such as .JPG, .GIF, or .PNG</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
